#navbar a {
    border-bottom: 1px solid rgba(129, 194, 254, 0) !important
}

#navbar a.active {
    color: rgb(129, 194, 254) !important;
    border-bottom: 1px solid rgb(129, 194, 254) !important
}

#navbar a:hover {
    color: rgb(96, 237, 110) !important
}

/* 
#footer_section{
    background-image: url(../../public/assets/images/footer_background_shape.jpg);
    animation: movers 1s infinite alternate;
} */

.hideInLowScreen {
    display: block;
}

.showInLowScreen {
    display: none;
}

@media only screen and (max-width:767px) {
    .hideInLowScreen {
        display: none;
    }

    .showInLowScreen {
        display: block;
    }
}